<h1>Display your Pirate here</h1>

<h1><%=@pirate.name%></h1>
<h1><%=@pirate.weight%></h1>
<h1><%=@pirate.height%></h1>


<h2>Display your first ship here</h2>
<%= @ships.first.name %>
<%= @ships.first.type %>
<%= @ships.first.booty %>
<h2>Display your second ship here</h2>
<%= @ships.last.name %>
<%= @ships.last.type %>
<%= @ships.last.booty %>